@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Duke Charming';
  src: url("../assets/fonts/Duke Charming DEMO.otf");
}

@layer base {
  html {
    @apply text-theme-800
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-size: 1.5rem;
}

.text-border-white {
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
}

.glass-navbar {
  background: rgba(255, 252, 238, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.text-border-white {
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
}

.hero-banner-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.hero-banner-wave svg {
  position: relative;
  display: block;
  width: calc(153% + 1.3px);
  height: 174px;
  transform: rotateY(180deg);
}

.hero-banner-wave .shape-fill {
  fill: #8fd8d2;
}

.hero-wave-spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-wave-layer1 {
  background-image: url("../assets/layered-waves-haikei.svg");
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
  display: flex;
  margin: 0;
  height: 170px;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

@media screen and (max-width: 640px) {
  .logos:before,
  .logos:after {
    width: 50px;
  }
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  animation: 20s slide infinite linear;
}

.logos-slide p {
  height: 50px;
  margin: 0 40px;
}

.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
 }

 @keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
 }

 .team-card {
  position: relative;
  /* background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% ); */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.team-card img {
  /* width: 48px;
  fill: #333; */
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.team-card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.team-card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.team-card:hover .team-card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.team-card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.team-card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.team-card:hover img {
  scale: 0.5;
  transform: rotate(-45deg);
}

.e-card {
  margin: 100px auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 100%;
  height: 330px;
  border-radius: 16px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 1000px;
  height: 1200px;
  opacity: 0.6;

  left: -50%;
  background: linear-gradient(744deg,#0B3D5E,#5788A9 60%,#75c2bb);
}

.wave:nth-child(1){
  left: -50%;
  top: -50%;
  
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 130px;
}

@media screen and (max-width: 640px) {
  .wave:nth-child(1){
    left: -50%;
    top: -70%;
  }
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 90px;
  }

}


.playing .wave {
  border-radius: 50%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.hero-wave {
  position: absolute;

  left: 0;

  transform: translate(0, 0, 0);
  /* animation: hero-wave 7s ease infinite; */
}

.wave1{
  background: url("../assets/wave.svg") repeat-x;
  animation: hero-wave 6s ease infinite;
  width: 6400px;
  bottom: -80px;
  height: 198px;
}

.wave2{
  background: url("../assets/wave2.svg") repeat-x;
  width: 6400px;
  bottom: -50px;
  height: 198px;
}

.wave3{
  background: url("../assets/wave3.svg") repeat-x;
  animation: hero-wave 7s ease infinite;
  width: 5000px;
  bottom: -50px;
  height: 198px;
  transform: scaleX(-1);
}

.hero-wave:nth-of-type(2) {
  bottom: -80px;
  animation: swell 4s ease infinite;
  opacity: 1;
}

@keyframes hero-wave {
  0% { margin-left: 0; }
  100% { margin-left: -1600px;}
}



@keyframes swell {
  0%, 100% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(0, 5px);
  }
}

.carousel-card {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 20px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(3px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.carousel-card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.carousel-card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.visualizer-menu {
  border: 2px solid #5788A9;
  border-radius: 50px;
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: ease 0.2s;
  position: relative;
  background: #fff;
}

.visualizer-menu li {
  list-style: none;
  height: 25px;
  width: 3px;
  border-radius: 10px;
  background: #5788A9;
  margin: 0 2px;
  padding: 0;
  animation-name: visualizer;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: ease 0.2s;
}

.visualizer-menu:hover > li {
  background: #fff;
}

.visualizer-menu:hover {
  background: #5788A9;
}

.visualizer-menu li:nth-child(2) {
  animation-name: visualizer2;
  animation-delay: 0.2s;
}

.visualizer-menu li:nth-child(3) {
  animation-name: visualizer3;
  animation-delay: 0.23s;
  animation-duration: 0.4s;
}

.visualizer-menu li:nth-child(4) {
  animation-name: visualizer4;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
}

.visualizer-menu li:nth-child(5) {
  animation-delay: 0.5s;
}

.visualizer-menu li:nth-child(6) {
  animation-name: visualizer2;
  animation-duration: 0.5s;
}

.visualizer-menu li:nth-child(8) {
  animation-name: visualizer4;
  animation-delay: 0.4s;
  animation-duration: 0.25s;
}

.visualizer-menu li:nth-child(9) {
  animation-name: visualizer3;
  animation-delay: 0.15s;
}

@keyframes visualizer1 {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0.5);
  }
}

@keyframes visualizer2 {
  from {
    transform: scaleY(0.3);
  }

  to {
    transform: scaleY(0.6);
  }
}

@keyframes visualizer3 {
  from {
    transform: scaleY(0.6);
  }

  to {
    transform: scaleY(0.8);
  }
}

@keyframes visualizer4 {
  from {
    transform: scaleY(0.2);
  }

  to {
    transform: scaleY(0.5);
  }
}

.c-button {
  color: #000;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  padding: 0.9em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.c-button--gooey {
  color: #06c8d9;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 4px solid #06c8d9;
  border-radius: 0;
  position: relative;
  transition: all 700ms ease;
  border-radius: 15px;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: #06c8d9;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 600ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}

.c-button--gooey:active{
  transform: scale(0.96);
}